.group-child425 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  filter: blur(4px);
  width: 167.9px;
  height: 41.79px;
}
.language {
  margin: 0;
}
.sinhala-language {
  position: absolute;
  top: 10.45px;
  left: 12.92px;
  font-weight: 500;
  display: inline-block;
  width: 96.87px;
  height: 29.85px;
}
.group-child426,
.rectangle-parent162 {
  position: absolute;
  top: 313.39px;
  left: 611.34px;
  width: 167.9px;
  height: 41.79px;
}
.group-child426 {
  border: 0;
  background-color: var(--color-lightslategray);
  top: 114.91px;
  left: 101.17px;
  border-radius: var(--br-3xs);
  width: 594.12px;
  height: 26.86px;
}
.search8 {
  position: absolute;
  top: 119.39px;
  left: 163.6px;
  font-size: var(--font-size-xs);
  font-weight: 300;
  display: inline-block;
  width: 83.95px;
  height: 22.38px;
}
.group-child427 {
  position: absolute;
  top: 0;
  left: 0;
  width: 154.99px;
  height: 73.12px;
  object-fit: cover;
}
.courses4 {
  position: absolute;
  top: 19.4px;
  left: 178.67px;
  font-size: var(--font-size-xl);
  font-family: var(--font-sonsie-one);
  display: inline-block;
  width: 294.91px;
  height: 38.8px;
}
.group-child428 {
  position: absolute;
  top: 204.45px;
  left: 8.61px;
  width: 159.29px;
  height: 119.39px;
  object-fit: cover;
}
.group-child429,
.group-child430,
.group-child431 {
  position: absolute;
  top: 196.99px;
  left: 219.57px;
  width: 154.99px;
  height: 122.37px;
  object-fit: cover;
}
.group-child430,
.group-child431 {
  left: 426.22px;
}
.group-child431 {
  left: 611.34px;
  width: 159.29px;
}
.group-child432,
.group-child433,
.group-child434,
.group-child435 {
  position: absolute;
  top: 383.53px;
  left: 8.61px;
  width: 154.99px;
  height: 122.37px;
  object-fit: cover;
}
.group-child433,
.group-child434,
.group-child435 {
  top: 380.54px;
  left: 219.57px;
}
.group-child434,
.group-child435 {
  top: 386.51px;
  left: 426.22px;
  height: 117.89px;
}
.group-child435 {
  top: 374.57px;
  left: 615.65px;
  height: 122.37px;
}
.group-child436 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 154.99px;
  height: 37.31px;
}
.english4 {
  position: absolute;
  top: 11.94px;
  left: 25.83px;
  font-weight: 500;
  display: inline-block;
  width: 75.34px;
  height: 14.92px;
}
.group-child437,
.rectangle-parent163 {
  position: absolute;
  top: 317.87px;
  left: 426.22px;
  width: 154.99px;
  height: 37.31px;
}
.group-child437 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  height: 40.29px;
}
.science2 {
  position: absolute;
  top: 14.92px;
  left: 30.14px;
  font-weight: 500;
  display: inline-block;
  width: 75.34px;
  height: 14.92px;
}
.group-child438,
.rectangle-parent164 {
  position: absolute;
  top: 319.36px;
  left: 219.57px;
  width: 154.99px;
  height: 40.29px;
}
.group-child438 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  height: 34.32px;
}
.history {
  position: absolute;
  top: 0;
  left: 30.14px;
  font-weight: 500;
  display: inline-block;
  width: 75.34px;
  height: 14.92px;
}
.group-child439,
.rectangle-parent165 {
  position: absolute;
  top: 522.31px;
  left: 8.61px;
  width: 154.99px;
  height: 34.32px;
}
.group-child439 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  filter: blur(4px);
  height: 35.82px;
}
.ict {
  position: absolute;
  top: 1.49px;
  left: 64.58px;
  font-weight: 500;
  display: inline-block;
  width: 30.14px;
  height: 14.92px;
}
.group-child440,
.rectangle-parent166 {
  position: absolute;
  top: 520.82px;
  left: 217.41px;
  width: 154.99px;
  height: 35.82px;
}
.group-child440 {
  top: 2.98px;
  left: 0;
  background-color: var(--color-white);
  height: 34.32px;
}
.music {
  position: absolute;
  top: 0;
  left: 34.44px;
  font-weight: 500;
  display: inline-block;
  width: 58.12px;
  height: 14.92px;
}
.group-child441,
.rectangle-parent167 {
  position: absolute;
  top: 519.33px;
  left: 426.22px;
  width: 154.99px;
  height: 37.31px;
}
.group-child441 {
  top: 13.43px;
  left: 0;
  background-color: var(--color-white);
  height: 35.82px;
}
.business-accounting-container {
  position: absolute;
  top: 0;
  left: 4px;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 74px;
  height: 22px;
}
.rectangle-parent168 {
  position: absolute;
  top: 507.39px;
  left: 615.65px;
  width: 154.99px;
  height: 49.25px;
}
.select-the-course {
  position: absolute;
  top: 171.62px;
  left: 23.68px;
  font-size: var(--font-size-3xs);
  color: var(--color-darkslateblue);
  display: inline-block;
  width: 178.67px;
  height: 17.91px;
}
.group-child442 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 170.06px;
  height: 40.29px;
}
.mathematics6 {
  position: absolute;
  top: 11.94px;
  left: 15.07px;
  font-weight: 500;
  display: inline-block;
  width: 154.99px;
  height: 17.91px;
}
.group-a {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 322.34px;
  left: 8.61px;
  width: 170.06px;
  height: 40.29px;
  color: inherit;
}
.group-parent10 {
  position: absolute;
  top: 35.29px;
  left: 47.36px;
  width: 779.24px;
  height: 556.64px;
  text-align: left;
  font-size: var(--font-size-5xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
