.group-child391 {
  position: absolute;
  top: 1.39px;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #a7cfcf 8.83%,
    rgba(190, 220, 220, 0.38) 93.45%,
    rgba(255, 255, 255, 0)
  );
  width: 403.98px;
  height: 584.69px;
}
.dashboard17,
.group-child392 {
  position: absolute;
  width: 147.42px;
}
.group-child392 {
  top: 0;
  left: 0;
  background-color: var(--color-lightsteelblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 25.06px;
}
.dashboard17 {
  top: 1.39px;
  left: 17.23px;
  font-weight: 500;
  display: inline-block;
  height: 16.71px;
}
.calendar19,
.rectangle-parent150 {
  position: absolute;
  top: 257.54px;
  left: 128.28px;
  width: 164.65px;
  height: 25.06px;
}
.calendar19 {
  top: 2.78px;
  left: 17.23px;
  font-weight: 500;
  display: inline-block;
  width: 84.24px;
  height: 16.71px;
}
.rectangle-parent151 {
  position: absolute;
  top: 331.32px;
  left: 128.28px;
  width: 147.42px;
  height: 25.06px;
  cursor: pointer;
}
.contact-us18 {
  position: absolute;
  top: 4.18px;
  left: 13.4px;
  font-weight: 500;
  display: inline-block;
  width: 132.11px;
  height: 13.92px;
}
.rectangle-parent152,
.teachers17 {
  position: absolute;
  top: 477.49px;
  left: 130.19px;
  width: 147.42px;
  height: 25.06px;
}
.teachers17 {
  top: 5.57px;
  left: 15.32px;
  font-weight: 500;
  display: inline-block;
  width: 86.16px;
  height: 16.71px;
}
.rectangle-parent153 {
  position: absolute;
  top: 441.3px;
  left: 128.28px;
  width: 147.42px;
  height: 25.06px;
  cursor: pointer;
}
.subjects17 {
  position: absolute;
  top: 6.96px;
  left: 17.23px;
  font-weight: 500;
  display: inline-block;
  width: 80.41px;
  height: 16.71px;
}
.rectangle-parent154 {
  position: absolute;
  top: 366.13px;
  left: 128.28px;
  width: 147.42px;
  height: 25.06px;
  cursor: pointer;
}
.student5,
.vimansa-shamali3 {
  position: absolute;
  display: inline-block;
  height: 16.71px;
}
.student5 {
  top: 167.05px;
  left: 158.91px;
  font-weight: 300;
  width: 70.84px;
}
.vimansa-shamali3 {
  top: 143.39px;
  left: 109.13px;
  width: 187.63px;
}
.group-child397 {
  position: absolute;
  top: 0;
  left: 403.98px;
  background: linear-gradient(180deg, #dbeced, rgba(255, 255, 255, 0));
  width: 896.02px;
  height: 584.69px;
}
.group-child398 {
  position: absolute;
  top: 37.59px;
  left: 128.28px;
  border-radius: 50%;
  width: 114.87px;
  height: 93.27px;
  object-fit: cover;
}
.group-child399 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-steelblue-200);
  width: 256.55px;
  height: 34.8px;
}
.profile1 {
  position: absolute;
  top: 9.74px;
  left: 63.18px;
  font-weight: 300;
  display: inline-block;
  width: 78.5px;
  height: 16.71px;
}
.group-child400,
.rectangle-parent155 {
  position: absolute;
  top: 203.25px;
  left: 84.24px;
  width: 256.55px;
  height: 34.8px;
}
.group-child400 {
  top: 403.71px;
  left: 128.28px;
  background-color: var(--color-lightsteelblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 147.42px;
  height: 25.06px;
  cursor: pointer;
}
.marks23 {
  position: absolute;
  top: 410.67px;
  left: 147.42px;
  font-weight: 500;
  display: inline-block;
  width: 57.44px;
  height: 16.71px;
}
.mdi-lightaccount8 {
  position: absolute;
  top: 55.68px;
  left: 1158.32px;
  width: 45.95px;
  height: 33.41px;
}
.charmbook-open-icon17,
.charmchart-line-icon17,
.group-child401 {
  position: absolute;
  top: 368.91px;
  left: 84.24px;
  width: 30.63px;
  height: 22.27px;
}
.charmchart-line-icon17,
.group-child401 {
  top: 406.5px;
}
.group-child401 {
  border: 0;
  background-color: var(--color-lightslategray);
  top: 54.29px;
  left: 551.4px;
  border-radius: var(--br-3xs);
  width: 528.42px;
  height: 34.8px;
}
.charmzoom-in-icon5,
.search7 {
  position: absolute;
  top: 62.65px;
  left: 1039.62px;
  width: 30.63px;
  height: 22.27px;
}
.search7 {
  top: 61.25px;
  left: 574.37px;
  font-size: var(--font-size-mini);
  font-weight: 300;
  display: inline-block;
  width: 93.81px;
  height: 25.06px;
}
.group-child402 {
  position: absolute;
  top: -0.5px;
  left: 403.48px;
  border-right: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 1px;
  height: 601px;
}
.group-child403 {
  position: absolute;
  top: 104.41px;
  left: 465.24px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 786.89px;
  height: 442.69px;
}
.address7 {
  position: absolute;
  top: 292.34px;
  left: 522.68px;
  font-weight: 300;
  display: inline-block;
  width: 74.67px;
  height: 16.71px;
}
.charmcalendar-icon16,
.date-of-birth7 {
  position: absolute;
  top: 258.93px;
  left: 815.61px;
  width: 30.63px;
  height: 22.27px;
}
.date-of-birth7 {
  top: 261.72px;
  left: 522.68px;
  font-weight: 300;
  display: inline-block;
  width: 114.87px;
  height: 16.71px;
}
.charmsquare-tick2,
.gender7 {
  position: absolute;
  top: 226.91px;
  left: 729.46px;
  width: 30.63px;
  height: 22.27px;
}
.gender7 {
  left: 522.68px;
  font-weight: 300;
  display: inline-block;
  width: 67.01px;
  height: 16.71px;
}
.account-info7,
.e-mail-address7,
.first-name7,
.joining-date7,
.last-name7,
.profile-info3,
.user-name7 {
  position: absolute;
  top: 189.33px;
  left: 899.85px;
  font-weight: 300;
  display: inline-block;
  width: 97.64px;
  height: 16.71px;
}
.account-info7,
.e-mail-address7,
.first-name7,
.joining-date7,
.profile-info3,
.user-name7 {
  left: 522.68px;
}
.account-info7,
.e-mail-address7,
.joining-date7,
.profile-info3,
.user-name7 {
  top: 387.01px;
  width: 135.94px;
}
.account-info7,
.joining-date7,
.profile-info3,
.user-name7 {
  top: 423.2px;
  width: 101.47px;
}
.account-info7,
.joining-date7,
.profile-info3 {
  top: 391.18px;
  left: 909.43px;
  width: 112.96px;
}
.account-info7,
.profile-info3 {
  top: 142px;
  left: 752.43px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  width: 218.26px;
  height: 25.06px;
}
.account-info7 {
  top: 343.85px;
  left: 756.26px;
  width: 222.09px;
}
.group-child404 {
  position: absolute;
  top: 328.04px;
  left: 602.59px;
  border-top: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 512.19px;
  height: 1px;
}
.female7,
.male7 {
  position: absolute;
  top: 229.7px;
  left: 672.02px;
  font-weight: 300;
  display: inline-block;
  width: 44.04px;
  height: 16.71px;
}
.female7 {
  left: 783.06px;
  width: 65.1px;
}
.group-child405,
.group-child406 {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 192.11px;
  left: 656.7px;
  width: 147.42px;
  height: 13.92px;
}
.group-child406 {
  top: 189.33px;
  left: 1035.79px;
}
.charmsquare-tick3 {
  position: absolute;
  top: 226.91px;
  left: 851.99px;
  width: 30.63px;
  height: 22.27px;
}
.group-child407,
.group-child408 {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 296.52px;
  left: 656.7px;
  width: 147.42px;
  height: 13.92px;
}
.group-child408 {
  top: 267.29px;
  height: 15.31px;
}
.group-child409,
.group-child410,
.group-child411,
.group-child412 {
  position: absolute;
  top: 388.4px;
  left: 677.76px;
  background-color: var(--color-gainsboro);
  width: 1.91px;
  height: 6.96px;
}
.group-child410,
.group-child411,
.group-child412 {
  border: 0;
  top: 389.79px;
  left: 672.02px;
  width: 137.85px;
  height: 15.31px;
}
.group-child411,
.group-child412 {
  top: 424.59px;
  height: 16.71px;
}
.group-child412 {
  top: 396.75px;
  left: 1045.36px;
  width: 139.76px;
  height: 15.31px;
}
.charmcalendar-icon17,
.charmpeople-icon17,
.charmphone-icon18 {
  position: absolute;
  top: 444.08px;
  left: 84.24px;
  width: 30.63px;
  height: 22.27px;
}
.charmcalendar-icon17,
.charmphone-icon18 {
  top: 481.67px;
}
.charmcalendar-icon17 {
  top: 332.71px;
  left: 82.33px;
}
.primehome-icon17 {
  position: absolute;
  top: 292.34px;
  left: 76.58px;
  width: 45.95px;
  height: 33.41px;
}
.home19,
.primeth-large-icon17 {
  position: absolute;
  top: 253.36px;
  left: 80.41px;
  width: 42.12px;
  height: 29.23px;
}
.home19 {
  top: 2.78px;
  left: 17.23px;
  font-weight: 500;
  display: inline-block;
  width: 55.52px;
  height: 16.71px;
}
.rectangle-parent156 {
  position: absolute;
  top: 295.13px;
  left: 128.28px;
  width: 147.42px;
  height: 25.06px;
  cursor: pointer;
}
.rectangle-parent149 {
  position: absolute;
  top: -1px;
  left: -4px;
  width: 1300px;
  height: 600px;
}
.profileinfo1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 600px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
