.group-child341 {
  position: absolute;
  top: 1.39px;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #a7cfcf 8.83%,
    rgba(190, 220, 220, 0.38) 93.45%,
    rgba(255, 255, 255, 0)
  );
  width: 403.98px;
  height: 584.69px;
}
.dashboard15,
.group-child342 {
  position: absolute;
  width: 147.42px;
}
.group-child342 {
  top: 0;
  left: 0;
  background-color: var(--color-lightsteelblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 25.06px;
}
.dashboard15 {
  top: 1.39px;
  left: 17.23px;
  font-weight: 500;
  display: inline-block;
  height: 16.71px;
}
.calendar17,
.rectangle-parent133 {
  position: absolute;
  top: 257.54px;
  left: 128.28px;
  width: 164.65px;
  height: 25.06px;
}
.calendar17 {
  top: 2.78px;
  left: 17.23px;
  font-weight: 500;
  display: inline-block;
  width: 84.24px;
  height: 16.71px;
}
.home17,
.rectangle-parent134 {
  position: absolute;
  top: 331.32px;
  left: 128.28px;
  width: 147.42px;
  height: 25.06px;
}
.home17 {
  top: 4.18px;
  left: 19.15px;
  font-weight: 500;
  display: inline-block;
  width: 55.52px;
  height: 16.71px;
}
.rectangle-parent135 {
  position: absolute;
  top: 296.52px;
  left: 128.28px;
  width: 147.42px;
  height: 25.06px;
  cursor: pointer;
}
.contact-us16 {
  position: absolute;
  top: 4.18px;
  left: 13.4px;
  font-weight: 500;
  display: inline-block;
  width: 132.11px;
  height: 13.92px;
}
.rectangle-parent136,
.teachers15 {
  position: absolute;
  top: 477.49px;
  left: 130.19px;
  width: 147.42px;
  height: 25.06px;
}
.teachers15 {
  top: 5.57px;
  left: 15.32px;
  font-weight: 500;
  display: inline-block;
  width: 86.16px;
  height: 16.71px;
}
.rectangle-parent137 {
  position: absolute;
  top: 441.3px;
  left: 128.28px;
  width: 147.42px;
  height: 25.06px;
  cursor: pointer;
}
.subjects15 {
  position: absolute;
  top: 6.96px;
  left: 17.23px;
  font-weight: 500;
  display: inline-block;
  width: 80.41px;
  height: 16.71px;
}
.rectangle-parent138 {
  position: absolute;
  top: 366.13px;
  left: 128.28px;
  width: 147.42px;
  height: 25.06px;
  cursor: pointer;
}
.teacher7 {
  position: absolute;
  top: 175.41px;
  left: 172.31px;
  font-weight: 300;
  display: inline-block;
  width: 72.75px;
  height: 16.71px;
}
.group-child348 {
  position: absolute;
  top: 0;
  left: 403.98px;
  background: linear-gradient(180deg, #dbeced, rgba(255, 255, 255, 0));
  width: 896.02px;
  height: 584.69px;
}
.nayomi-perera3 {
  position: absolute;
  top: 158.7px;
  left: 116.79px;
  display: inline-block;
  width: 158.91px;
  height: 16.71px;
}
.group-child349 {
  position: absolute;
  top: 36.19px;
  left: 143.59px;
  border-radius: 50%;
  width: 132.11px;
  height: 104.41px;
  object-fit: cover;
}
.group-child350 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-steelblue-200);
  width: 256.55px;
  height: 34.8px;
}
.view-profile6 {
  position: absolute;
  top: 9.74px;
  left: 63.18px;
  font-weight: 300;
  display: inline-block;
  width: 130.19px;
  height: 16.71px;
}
.marks21,
.rectangle-parent139 {
  position: absolute;
  top: 203.25px;
  left: 84.24px;
  width: 256.55px;
  height: 34.8px;
}
.marks21 {
  top: 6.96px;
  left: 19.15px;
  font-weight: 500;
  display: inline-block;
  width: 57.44px;
  height: 16.71px;
}
.rectangle-parent140 {
  position: absolute;
  top: 403.71px;
  left: 128.28px;
  width: 147.42px;
  height: 25.06px;
  cursor: pointer;
}
.mdi-lightaccount7 {
  position: absolute;
  top: 55.68px;
  left: 1158.32px;
  width: 45.95px;
  height: 33.41px;
}
.charmbook-open-icon15 {
  position: absolute;
  top: 368.91px;
  left: 84.24px;
  width: 30.63px;
  height: 22.27px;
}
.charmchart-line-icon15,
.charmzoom-in-icon4,
.group-child352 {
  position: absolute;
  top: 407.89px;
  left: 84.24px;
  width: 30.63px;
  height: 22.27px;
}
.charmzoom-in-icon4,
.group-child352 {
  top: 62.65px;
  left: 1039.62px;
}
.group-child352 {
  border: 0;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-mini);
  background-color: transparent;
  top: 61.25px;
  left: 551.4px;
  width: 557.14px;
  height: 25.06px;
}
.group-child353 {
  position: absolute;
  top: -0.5px;
  left: 403.48px;
  border-right: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 1px;
  height: 601px;
}
.group-child354 {
  position: absolute;
  top: 104.41px;
  left: 465.24px;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 786.89px;
  height: 442.69px;
}
.address5,
.date-of-birth5 {
  position: absolute;
  top: 292.34px;
  left: 522.68px;
  font-weight: 300;
  display: inline-block;
  width: 74.67px;
  height: 16.71px;
}
.date-of-birth5 {
  top: 261.72px;
  width: 114.87px;
}
.charmsquare-tick,
.gender5 {
  position: absolute;
  top: 226.91px;
  left: 729.46px;
  width: 58.65px;
  height: 31.01px;
}
.gender5 {
  left: 522.68px;
  font-weight: 300;
  display: inline-block;
  width: 67.01px;
  height: 16.71px;
}
.account-info5,
.e-mail-address5,
.first-name5,
.joining-date5,
.last-name5,
.profile-info2,
.user-name5 {
  position: absolute;
  top: 189.33px;
  left: 899.85px;
  font-weight: 300;
  display: inline-block;
  width: 97.64px;
  height: 16.71px;
}
.account-info5,
.e-mail-address5,
.first-name5,
.joining-date5,
.profile-info2,
.user-name5 {
  left: 522.68px;
}
.account-info5,
.e-mail-address5,
.joining-date5,
.profile-info2,
.user-name5 {
  top: 387.01px;
  width: 135.94px;
}
.account-info5,
.joining-date5,
.profile-info2,
.user-name5 {
  top: 423.2px;
  width: 101.47px;
}
.account-info5,
.joining-date5,
.profile-info2 {
  top: 391.18px;
  left: 909.43px;
  width: 112.96px;
}
.account-info5,
.profile-info2 {
  top: 142px;
  left: 752.43px;
  font-size: var(--font-size-mini);
  font-weight: 600;
  width: 218.26px;
  height: 25.06px;
}
.account-info5 {
  top: 343.85px;
  left: 756.26px;
  width: 222.09px;
}
.group-child355 {
  position: absolute;
  top: 328.04px;
  left: 602.59px;
  border-top: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 512.19px;
  height: 1px;
}
.female5,
.male5 {
  position: absolute;
  top: 229.7px;
  left: 672.02px;
  font-weight: 300;
  display: inline-block;
  width: 44.04px;
  height: 16.71px;
}
.female5 {
  left: 783.06px;
  width: 65.1px;
}
.group-child356,
.group-child357 {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 192.11px;
  left: 656.7px;
  width: 147.42px;
  height: 13.92px;
}
.group-child357 {
  top: 189.33px;
  left: 1035.79px;
}
.charmsquare-tick1 {
  position: absolute;
  top: 226.91px;
  left: 851.99px;
  width: 58.65px;
  height: 31.01px;
}
.group-child358 {
  border: 0;
  top: 296.52px;
  left: 656.7px;
  width: 147.42px;
  height: 13.92px;
}
.group-child358,
.group-child359,
.group-child360 {
  position: absolute;
  background-color: var(--color-gainsboro);
}
.group-child359 {
  border: 0;
  top: 267.29px;
  left: 656.7px;
  width: 191.46px;
  height: 13.92px;
}
.group-child360 {
  top: 388.4px;
  left: 677.76px;
  width: 1.91px;
  height: 6.96px;
}
.group-child361 {
  border: 0;
  top: 389.79px;
  left: 672.02px;
  width: 137.85px;
  height: 15.31px;
}
.group-child361,
.group-child362,
.group-child363 {
  position: absolute;
  background-color: var(--color-gainsboro);
}
.group-child362 {
  border: 0;
  top: 424.59px;
  left: 672.02px;
  width: 137.85px;
  height: 16.71px;
}
.group-child363 {
  top: 396.75px;
  left: 1045.36px;
  width: 139.76px;
  height: 15.31px;
}
.current-position3,
.employee-code3,
.working-hours3 {
  position: absolute;
  top: 463.57px;
  left: 522.68px;
  font-weight: 300;
  display: inline-block;
  width: 141.68px;
  height: 16.71px;
}
.current-position3,
.working-hours3 {
  top: 424.59px;
  left: 909.43px;
  width: 145.51px;
}
.working-hours3 {
  top: 464.97px;
  width: 132.11px;
}
.group-child364,
.group-child365,
.group-child366 {
  border: 0;
  background-color: var(--color-gainsboro);
  position: absolute;
  top: 464.97px;
  left: 679.68px;
  width: 130.19px;
  height: 18.1px;
}
.group-child365,
.group-child366 {
  top: 430.16px;
  left: 1054.93px;
  height: 16.71px;
}
.group-child366 {
  top: 466.36px;
  left: 1062.59px;
  width: 120.62px;
}
.charmcalendar-icon14,
.charmpeople-icon15,
.charmphone-icon16 {
  position: absolute;
  top: 332.71px;
  left: 84.24px;
  width: 30.63px;
  height: 22.27px;
}
.charmpeople-icon15,
.charmphone-icon16 {
  top: 446.87px;
  left: 88.07px;
}
.charmphone-icon16 {
  top: 480.28px;
  left: 86.16px;
}
.majesticonshome-line3 {
  position: absolute;
  top: 296.52px;
  left: 84.24px;
  width: 34.46px;
  height: 25.06px;
}
.primeth-large-icon15 {
  position: absolute;
  top: 258.93px;
  left: 80.41px;
  width: 42.12px;
  height: 29.23px;
}
.primehome-icon15 {
  position: absolute;
  top: 292.34px;
  left: 78.5px;
  width: 45.95px;
  height: 33.41px;
}
.rectangle-parent132 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1300px;
  height: 600px;
}
.teacherprofileinfo1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 600px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
