@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trocchi:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trirong:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lusitana:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sonsie+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;
  --font-inika: Inika;
  --font-trirong: Trirong;
  --font-trocchi: Trocchi;
  --font-lusitana: Lusitana;
  --font-sonsie-one: "Sonsie One";

  /* font sizes */
  --font-size-5xs: 8px;
  --font-size-3xs: 10px;
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-smi: 13px;
  --font-size-11xl: 30px;

  /* Colors */
  --color-white: #fff;
  --color-gainsboro: #d9d9d9;
  --color-black: #000;
  --color-powderblue-100: #bee2e0;
  --color-powderblue-200: #a7cfcf;
  --color-steelblue-100: #788fcc;
  --color-steelblue-200: #6698bd;
  --color-lightslategray: #7e8896;
  --color-lightsteelblue: #a1afc3;
  --color-lightcyan: #d7ecef;
  --color-cadetblue: #5e9b9b;
  --color-lightblue: #a7d2d8;
  --color-darkslateblue: #253d93;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-mini: 15px;
  --br-3xs: 10px;
  --br-xl: 20px;
}
