.group-child99 {
  position: absolute;
  top: 1.39px;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #a7cfcf 8.83%,
    rgba(190, 220, 220, 0.38) 93.45%,
    rgba(255, 255, 255, 0)
  );
  width: 405.17px;
  height: 598.61px;
}
.group-child100 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightsteelblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 147.86px;
  height: 25px;
}
.home4 {
  position: absolute;
  top: 4.17px;
  left: 19.2px;
  font-weight: 500;
  display: inline-block;
  width: 55.69px;
  height: 16.67px;
}
.rectangle-parent34 {
  position: absolute;
  top: 295.83px;
  left: 128.66px;
  width: 147.86px;
  height: 25px;
  cursor: pointer;
}
.dashboard4 {
  position: absolute;
  top: 1.39px;
  left: 17.28px;
  font-weight: 500;
  display: inline-block;
  width: 147.86px;
  height: 16.67px;
}
.calendar4,
.rectangle-parent35 {
  position: absolute;
  top: 256.94px;
  left: 128.66px;
  width: 165.14px;
  height: 25px;
}
.calendar4 {
  top: 2.78px;
  left: 17.28px;
  font-weight: 500;
  display: inline-block;
  width: 84.49px;
  height: 16.67px;
}
.rectangle-parent36,
.teachers4 {
  position: absolute;
  top: 330.56px;
  left: 128.66px;
  width: 147.86px;
  height: 25px;
}
.teachers4 {
  top: 5.56px;
  left: 15.36px;
  font-weight: 500;
  display: inline-block;
  width: 86.41px;
  height: 16.67px;
}
.group-child104,
.rectangle-parent37 {
  position: absolute;
  left: 128.66px;
  width: 147.86px;
  height: 25px;
}
.rectangle-parent37 {
  top: 440.28px;
  cursor: pointer;
}
.group-child104 {
  top: 365.28px;
  background-color: var(--color-lightsteelblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.contact-us5,
.subjects4 {
  position: absolute;
  top: 372.22px;
  left: 145.94px;
  font-weight: 500;
  display: inline-block;
  width: 80.65px;
  height: 16.67px;
}
.contact-us5 {
  top: 4.17px;
  left: 13.44px;
  width: 132.5px;
  height: 13.89px;
}
.rectangle-parent38 {
  position: absolute;
  top: 476.39px;
  left: 130.58px;
  width: 147.86px;
  height: 25px;
  cursor: pointer;
}
.wisdom-academy-online3 {
  margin: 0;
}
.wisdom-academy-online-container3 {
  position: absolute;
  top: 163px;
  left: 146px;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-family: var(--font-lusitana);
  width: 245.79px;
  height: 113.89px;
}
.marks7 {
  position: absolute;
  top: 6.94px;
  left: 19.2px;
  font-weight: 500;
  display: inline-block;
  width: 57.61px;
  height: 16.67px;
}
.rectangle-parent39 {
  position: absolute;
  top: 402.78px;
  left: 128.66px;
  width: 147.86px;
  height: 25px;
  cursor: pointer;
}
.charmbook-open-icon4,
.charmchart-line-icon4,
.group-child107 {
  position: absolute;
  top: 366.67px;
  left: 88.33px;
  width: 30.72px;
  height: 22.22px;
}
.charmchart-line-icon4,
.group-child107 {
  top: 404.17px;
  left: 90.25px;
}
.group-child107 {
  top: -0.5px;
  left: 404.67px;
  border-right: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 1px;
  height: 599.61px;
}
.charmphone-icon5 {
  position: absolute;
  top: 477.78px;
  left: 90.25px;
  width: 30.72px;
  height: 22.22px;
}
.primehome-icon4,
.primeth-large-icon4 {
  position: absolute;
  top: 254.17px;
  left: 80.65px;
  width: 42.25px;
  height: 29.17px;
}
.primehome-icon4 {
  top: 291.67px;
  left: 78.73px;
  width: 46.09px;
  height: 33.33px;
}
.charmcalendar-icon4,
.charmpeople-icon4,
.group-child108 {
  position: absolute;
  top: 331.94px;
  left: 88.33px;
  width: 30.72px;
  height: 22.22px;
}
.charmpeople-icon4,
.group-child108 {
  top: 444.44px;
}
.group-child108 {
  top: 1px;
  left: 152px;
  width: 101.77px;
  height: 198.61px;
  object-fit: cover;
}
.rectangle-parent33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 405.2px;
  height: 600px;
}
.group-child109 {
  background: linear-gradient(180deg, #dbeced, rgba(255, 255, 255, 0));
}
.group-child109,
.group-parent3,
.rectangle-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 895.86px;
  height: 600px;
}
.group-parent3 {
  left: 404.14px;
}
.courses1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 600px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
