.group-child77 {
  position: absolute;
  top: 1.39px;
  left: 0;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #a7cfcf 8.83%,
    rgba(190, 220, 220, 0.38) 93.45%,
    rgba(255, 255, 255, 0)
  );
  width: 405.17px;
  height: 598.61px;
}
.dashboard3,
.group-child78 {
  position: absolute;
  width: 147.86px;
}
.group-child78 {
  top: 0;
  left: 0;
  background-color: var(--color-lightsteelblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 25px;
}
.dashboard3 {
  top: 1.39px;
  left: 17.28px;
  font-weight: 500;
  display: inline-block;
  height: 16.67px;
}
.calendar3,
.rectangle-parent27 {
  position: absolute;
  top: 256.94px;
  left: 128.66px;
  width: 165.14px;
  height: 25px;
}
.calendar3 {
  top: 2.78px;
  left: 17.28px;
  font-weight: 500;
  display: inline-block;
  width: 84.49px;
  height: 16.67px;
}
.home3,
.rectangle-parent28 {
  position: absolute;
  top: 330.56px;
  left: 128.66px;
  width: 147.86px;
  height: 25px;
}
.home3 {
  top: 4.17px;
  left: 19.2px;
  font-weight: 500;
  display: inline-block;
  width: 55.69px;
  height: 16.67px;
}
.rectangle-parent29 {
  position: absolute;
  top: 295.83px;
  left: 128.66px;
  width: 147.86px;
  height: 25px;
  cursor: pointer;
}
.contact-us4 {
  position: absolute;
  top: 4.17px;
  left: 13.44px;
  font-weight: 500;
  display: inline-block;
  width: 132.5px;
  height: 13.89px;
}
.rectangle-parent30 {
  position: absolute;
  top: 476.39px;
  left: 130.58px;
  width: 147.86px;
  height: 25px;
  cursor: pointer;
}
.teachers3 {
  position: absolute;
  top: 5.56px;
  left: 15.36px;
  font-weight: 500;
  display: inline-block;
  width: 86.41px;
  height: 16.67px;
}
.rectangle-parent31 {
  position: absolute;
  top: 440.28px;
  left: 128.66px;
  width: 147.86px;
  height: 25px;
  cursor: pointer;
}
.subjects3 {
  position: absolute;
  top: 6.94px;
  left: 17.28px;
  font-weight: 500;
  display: inline-block;
  width: 80.65px;
  height: 16.67px;
}
.rectangle-parent32 {
  position: absolute;
  top: 365.28px;
  left: 128.66px;
  width: 147.86px;
  height: 25px;
  cursor: pointer;
}
.group-child84 {
  position: absolute;
  top: 1.39px;
  left: 407.09px;
  background: linear-gradient(180deg, #dbeced, rgba(255, 255, 255, 0));
  width: 892.91px;
  height: 583.33px;
}
.grade1,
.medium1,
.subject1,
.teacher1 {
  position: absolute;
  top: 219.44px;
  left: 829.54px;
  font-weight: 500;
  display: inline-block;
  width: 80.65px;
  height: 16.67px;
}
.grade1,
.subject1,
.teacher1 {
  top: 220.83px;
  left: 1035.01px;
  width: 90.25px;
}
.grade1,
.subject1 {
  left: 481.98px;
  width: 88.33px;
}
.grade1 {
  left: 679.76px;
  width: 67.21px;
}
.group-child85 {
  position: absolute;
  top: 341.67px;
  left: 1019.65px;
  background-color: var(--color-white);
  filter: blur(4px);
  width: 149.78px;
  height: 38.89px;
}
.wisdom-academy-online2 {
  margin: 0;
}
.wisdom-academy-online-container2 {
  position: absolute;
  top: 61.11px;
  left: 147.86px;
  font-size: var(--font-size-xs);
  display: inline-block;
  font-family: var(--font-lusitana);
  width: 245.79px;
  height: 113.89px;
}
.group-child86 {
  position: absolute;
  top: 402.78px;
  left: 128.66px;
  background-color: var(--color-lightsteelblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 147.86px;
  height: 25px;
}
.marks6 {
  position: absolute;
  top: 409.72px;
  left: 147.86px;
  font-weight: 500;
  display: inline-block;
  width: 57.61px;
  height: 16.67px;
  cursor: pointer;
}
.charmbook-open-icon3,
.charmchart-line-icon3 {
  position: absolute;
  top: 366.67px;
  left: 88.33px;
  width: 30.72px;
  height: 22.22px;
}
.charmchart-line-icon3 {
  top: 404.17px;
  left: 90.25px;
}
.group-child87,
.search1 {
  position: absolute;
  top: 140.28px;
}
.group-child87 {
  border: 0;
  background-color: var(--color-lightslategray);
  left: 591.43px;
  border-radius: var(--br-3xs);
  width: 529.99px;
  height: 22.22px;
}
.search1 {
  left: 618.32px;
  font-weight: 300;
  display: inline-block;
  width: 63.37px;
  height: 16.67px;
}
.group-child88 {
  position: absolute;
  top: -0.5px;
  left: 404.67px;
  border-right: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
  width: 1px;
  height: 599.61px;
}
.charmphone-icon4 {
  position: absolute;
  top: 477.78px;
  left: 90.25px;
  width: 30.72px;
  height: 22.22px;
}
.primehome-icon3,
.primeth-large-icon3 {
  position: absolute;
  top: 254.17px;
  left: 80.65px;
  width: 42.25px;
  height: 29.17px;
}
.primehome-icon3 {
  top: 291.67px;
  left: 78.73px;
  width: 46.09px;
  height: 33.33px;
}
.charmcalendar-icon3,
.charmpeople-icon3 {
  position: absolute;
  top: 331.94px;
  left: 88.33px;
  width: 30.72px;
  height: 22.22px;
}
.charmpeople-icon3 {
  top: 444.44px;
}
.group-child89,
.group-child90 {
  position: absolute;
  top: 4.17px;
  left: 28.8px;
  width: 101.77px;
  height: 198.61px;
  object-fit: cover;
}
.group-child90 {
  top: 47.22px;
  left: 457.02px;
  width: 138.26px;
  height: 68.06px;
}
.courses {
  position: absolute;
  top: 51.39px;
  left: 629.84px;
  font-size: var(--font-size-xl);
  font-family: var(--font-sonsie-one);
  display: inline-block;
  width: 263.07px;
  height: 36.11px;
}
.group-child91,
.group-child92 {
  position: absolute;
  top: 254.56px;
  left: 481.97px;
  width: 748.9px;
  height: 3.72px;
}
.group-child92 {
  top: 273.61px;
  left: 481.98px;
  background-color: var(--color-gainsboro);
  width: 773.86px;
  height: 33.33px;
}
.div2 {
  top: 281.94px;
  left: 700.89px;
  width: 13.44px;
}
.div2,
.missnayomi-perera,
.sinhala2 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  height: 16.67px;
}
.sinhala2 {
  top: 280.56px;
  left: 835.3px;
  text-align: center;
  width: 67.21px;
}
.missnayomi-perera {
  cursor: pointer;
  text-decoration: none;
  top: 279.17px;
  left: 1019.65px;
  color: inherit;
  width: 182.42px;
}
.group-child93,
.group-child94 {
  position: absolute;
  top: 311.11px;
  left: 481.98px;
  background-color: var(--color-gainsboro);
  width: 773.86px;
  height: 33.33px;
}
.group-child94 {
  top: 348.61px;
}
.english1,
.miss-deshani-gamage2 {
  position: absolute;
  top: 361.11px;
  left: 1019.65px;
  font-weight: 500;
  display: inline-block;
  width: 209.31px;
  height: 16.67px;
}
.english1 {
  top: 352.78px;
  left: 835.3px;
  width: 67.21px;
}
.group-child95 {
  position: absolute;
  top: 386.11px;
  left: 481.98px;
  background-color: var(--color-gainsboro);
  width: 773.86px;
  height: 33.33px;
}
.mr-mahesh1 {
  position: absolute;
  top: 390.28px;
  left: 1019.65px;
  font-weight: 500;
  display: inline-block;
  width: 107.53px;
  height: 16.67px;
}
.group-child96 {
  position: absolute;
  top: 423.61px;
  left: 481.98px;
  background-color: var(--color-gainsboro);
  width: 773.86px;
  height: 33.33px;
}
.div3 {
  position: absolute;
  top: 431.94px;
  left: 708.57px;
  font-weight: 500;
  display: inline-block;
  width: 11.52px;
  height: 16.67px;
}
.group-child97,
.group-child98 {
  position: absolute;
  top: 461.11px;
  left: 481.98px;
  background-color: var(--color-gainsboro);
  width: 773.86px;
  height: 33.33px;
}
.group-child98 {
  top: 500px;
}
.mathematics2,
.miss-sandarenu {
  position: absolute;
  top: 508.33px;
  left: 1021.57px;
  font-weight: 500;
  display: inline-block;
  width: 153.62px;
  height: 16.67px;
}
.mathematics2 {
  top: 280.56px;
  left: 491.58px;
  width: 142.1px;
}
.mr-hemapala-lokuge3 {
  top: 320.83px;
  left: 1019.65px;
  width: 199.7px;
}
.mr-anura-gamage3,
.mr-hemapala-lokuge3,
.mr-hemapala-lokuge4,
.sinhala3 {
  position: absolute;
  font-weight: 500;
  display: inline-block;
  height: 16.67px;
}
.sinhala3 {
  top: 431.94px;
  left: 835.3px;
  text-align: center;
  width: 67.21px;
}
.mr-anura-gamage3,
.mr-hemapala-lokuge4 {
  top: 427.78px;
  left: 1021.57px;
  width: 170.9px;
}
.mr-hemapala-lokuge4 {
  top: 469.44px;
  width: 199.7px;
}
.rectangle-parent26 {
  position: absolute;
  top: -1px;
  left: -4px;
  width: 1300px;
  height: 600px;
}
.coursesinfo {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 600px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
